---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const { title, description, info } = entry?.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row pb-0">
        <div class="col-12 md:col-6 lg:col-7">
          <form class="contact-form" method="POST" action={contact_form_action}>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="name"
                type="text"
                placeholder="Name"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="email"
                type="email"
                placeholder="Your email"
                required
              />
            </div>
            <div class="mb-3">
              <select class="form-select w-full rounded" name="country" required>
                <option value="" disabled>Select your country</option>
                
                <!-- África -->
                <optgroup label="Africa">
                    <option value="Botswana">Botswana</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kingdom of Eswatini">Kingdom of Eswatini</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Namibia">Namibia</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Togo">Togo</option>
                    <option value="Uganda">Uganda</option>
                    <option value="United Republic of Tanzania">United Republic of Tanzania</option>
                    <option value="Zambia">Zambia</option>
                </optgroup>
            
                <!-- Asia -->
                <optgroup label="Asia">
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                    <option value="India">India</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                </optgroup>
            
                <!-- Caribe y Américas -->
                <optgroup label="Caribbean and Americas">
                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belize">Belize</option>
                    <option value="Canada" selected>Canada</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Saint Lucia">Saint Lucia</option>
                    <option value="St Kitts and Nevis">St Kitts and Nevis</option>
                    <option value="St Vincent and The Grenadines">St Vincent and The Grenadines</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                </optgroup>
            
                <!-- Europa -->
                <optgroup label="Europe">
                    <option value="Cyprus">Cyprus</option>
                    <option value="Malta">Malta</option>
                    <option value="United Kingdom" selected>United Kingdom</option>
                </optgroup>
            
                <!-- Pacífico -->
                <optgroup label="Pacific">
                    <option value="Australia">Australia</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Nauru">Nauru</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Vanuatu">Vanuatu</option>
                </optgroup>
                <option value="Other">My country of residence is not on the list</option>
            </select>
            </div>
            <div class="mb-3">
              <input
                class="form-input w-full rounded"
                name="subject"
                type="text"
                placeholder="Subject"
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                class="form-textarea w-full rounded-md"
                rows="7"
                placeholder="Your message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"> Get in Touch</button>
          </form>
        </div>
        <div class="content col-12 md:col-6 lg:col-5">
          <h4 set:html={markdownify(info?.title)} />
          <p class="mt-4" set:html={markdownify(info?.description)} />
          <ul class="contact-list mt-5 list-none pl-0">
            {
              info?.contacts?.map((contact: string) => (
                <li>
                  <strong class="text-dark" set:html={markdownify(contact)} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</Base>
