---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import type { TPostType } from "@/types";
const entry = (await getEntryBySlug("faq", "index")) as TPostType;
const { title, description, faqs } = entry.data;
---

<Base title={title} description={description}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(title)} />
      <div class="section row -mt-6">
        {
          faqs?.map((faq) => (
            <div class="col-12 mt-6 md:col-6">
              <div class="p-12  shadow">
                <div class="faq-head relative">
                  <h4 set:html={markdownify(faq.title)} />
                </div>
                <p class="faq-body mt-4" set:html={markdownify(faq.answer)} />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
