---
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import type { TPostType, TPlan } from "@/types";
import { getEntryBySlug } from "astro:content";

const entry = (await getEntryBySlug("pricing", "index")) as TPostType;
const { title, description, plans, call_to_action } = entry.data;
---

<Base title={title} description={description}>
  <section class="section pb-0">
    <div class="container">
      <h1 class="text-center font-normal">{title}</h1>
      <div class="section row -mt-10 justify-center md:mt-0">
        {
          plans?.map((plan: TPlan) => (
            <div
              class={`col-12 md:col-4 ${
                !plan.recommended ? "lg:px-0" : "col-recommended"
              }`}
            >
              <div class="card text-center">
                <h4>{plan.title}</h4>
                <div class="mt-5">
                  <span class="text-5xl text-dark">${plan.price}</span>
                  <span>/ {plan.type}</span>
                </div>
                <h5 class="mt-2 font-normal text-text">{plan.subtitle}</h5>
                <ul class="mt-5">
                  {plan?.features?.map((feature, index) => (
                    <li class="mb-[10px] leading-5">{feature}</li>
                  ))}
                </ul>
                <a
                  class={`btn mt-5 ${
                    plan.recommended ? "btn-primary" : "btn-outline-primary"
                  }`}
                  href={plan.button.link}
                >
                  {plan.button.label}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <Cta cta={call_to_action} />
</Base>
